# dependencies
node_modules
.pnp
.pnp.*

# build output
dist
.tsbuildinfo
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.*.local

# misc
.cache
coverage
